
h1, h4 {
    color: black;
    text-align: center;
    margin: 20px auto;
    display: block;
}

p {
    color: black;
    text-align: center;
    margin: 20px 50px;
    display: block;
    border: 8px;
    border-width: 10px;
    border-style:inset;
    border-color: #3B5888;
}

a {
    color:black;
    
}

#home-img {
    width: 100%;
    /* margin: auto; */
    height: auto;
    padding: 35px 400px;
}

#about-img {
    width: auto;
    margin: auto;
    height: 550px;
    padding: 10px 35px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 35px;
}

.work {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    font-size: 18px;
}

.grogu {
    display: flex;
    width: 45%;
    margin: 25px 400px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.photo {
    height: auto;
    width: 60%;
    margin: 15px auto;
    flex-wrap: wrap;
}