h1 {
    color: black;
    text-align: center;
    margin: 20px auto;
    display; block;
}

p {
    color: black;
    text-align: center;
    margin: 20px auto;
    display; block;
}

a {
    color:black;
    
}

#home-img {
    width: 100%;
    margin: auto;
    height: auto;
    padding: 35px 45px;
}